{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "insertPragma": false,
  "printWidth": 140,
  "proseWrap": "always"
}
