{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "insertPragma": true,
  "requirePragma": true,
  "printWidth": 120,
  "proseWrap": "always"
}
