name: Node.js Tests

on:
  pull_request:
  push:
    branches-ignore:
      - 'gh-pages'
#     paths: # only run this deploy if an file in the following directories are changed
#       - 'src/**'
#       - 'test/**'
#       - '*.json' # run if an ".json" file in the *root* of the repository is changed

permissions:
  contents: read

jobs:
  tests:
    permissions:
      contents: read  # for actions/checkout to fetch code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Load MongoDB binary cache
        id: cache-mongodb-binaries
        uses: actions/cache@v3
        with:
          path: ~/.cache/mongodb-binaries
          key: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Run Audit
        run: (yarn audit || exit 0)
      - name: Test Compiling Everything
        run: yarn run build:tests
      - name: Lint
        run: yarn run lint
      - name: Test
        run: yarn run test:coverage --colors
        env:
          CI: true
      - name: Send codecov.io stats
        if: matrix.node-version == '18.x'
        uses: codecov/codecov-action@v3
  test-types:
    permissions:
      contents: read  # for actions/checkout to fetch code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: Load MongoDB binary cache
        id: cache-mongodb-binaries
        uses: actions/cache@v3
        with:
          path: ~/.cache/mongodb-binaries
          key: types
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Test Types
        run: yarn run test:types --colors
        env:
          CI: true
  publish:
    permissions:
      contents: write  # for actions/checkout to fetch code and for semantic-release to push commits, release releases and tags
      issues: write # for semantic-release to comment on and close issues
      pull-requests: write # for semantic-release to comment on and close pull requests
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/beta' || startsWith(github.ref, 'refs/heads/old')
    needs: [tests, test-types]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: Load MongoDB binary cache
        id: cache-mongodb-binaries
        uses: actions/cache@v3
        with:
          path: ~/.cache/mongodb-binaries
          key: publish
      - name: Install node_modules
        run: yarn install
      - name: Build
        run: yarn build
      - name: Semantic Release (publish to npm)
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
