name: Test Github Pages for PR

on:
  pull_request:

permissions:
  contents: read

jobs:
  website:
    permissions:
      contents: read # for actions/checkout to fetch code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: change to "website"
        run: cd website
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Build the Website
        run: yarn run build
